mixin storeForm(store = {})
    form(action="/add" method="POST" class="card")
        label(for="name") Name
        input(type="text" name="name")
        label(for="description") Description
        textarea(name="description")
        - const choices = ['Wife', 'Open Late', 'Family Friendly', 'Vegatarian', 'Licensed']
        ul.tags
            each choise in choices
                .tag.tag__choice
                    input(type="checkbox" id=choise value=choise name="tags")
                    label(for=choise) #{choise}
        input(type="submit" value="Save -<" class="button")

